.stamp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    text-align: center;
}
.stamp-word{
    margin-bottom: 65px;
}

.stamp-now{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stamp-explanation{
    color: #585858;
    font-size: 20px;
    font-weight: 700;
}

.stamp-current{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 65px;
}
.stamp-title{
    color: #000;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 22px;
}
.stamp-usage{
    display: flex;
    flex-direction: column;
}

.stamp-yes,
.stamp-no {
    width: 59px;
    height: 59px;
    border-radius: 50%;
    margin: 8px;
}

.stamp-yes {
    background-color: #26A653;
}

.stamp-no {
    background-color: #F1F1F1;
}

.volunteer-input {
    width: 450px;
    height: 62px;
    background: #F1F1F1;
    border-radius: 5px;
    border: none;
    color: #585858;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}

@media screen and (max-height: 900px) { 
    .volunteer-input {
        width: 427px;
        height: 51px;  
    }
}

.arrow-space{
    margin-left: 45px;
    margin-right: 45px;
}

.stamp-cnt{
    width: 142px;
    height: 56px;
    background-color: #26A653;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 22px;
    margin-right: 22px;
}

.change-stamp{
    display: flex;
    justify-content: center;
    align-items: center;
}